@font-face {
    font-family: 'MinhaFonte';
    src: url('Stalista01-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MinhaFonte-Bold';
    src: url('Stalista01-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: bold;
}
/* IMPORTANT ESTABLISH */
body, html {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #E83232;
    font-family: 'MinhaFonte';
    font-weight: 600;
    letter-spacing: -1px;
}
.snap {
    display: flex;
    min-height: 100vh;
    text-align: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
strong{
    font-family: 'MinhaFonte-Bold';
    cursor: pointer;
}
:root{
    --num-col-grid: 4;
    --gap-pad: 20;
    --price: 'fit-content';
    --gap-text: 10px;
    --catBuy-right: 7.5%;
    --catBuy-bottom: 17%;
    --backImg-width: 26.07rem;
    --img-row: 0
}
a{
    cursor: pointer;
    font-size: 32px;
    letter-spacing: -2px;
    text-decoration: none;
    color: #D9D9D9;
}
p2{
    color: #D9D9D9;
    font-size: 40px;
    margin: 20px 0px;
}
.sec-p1{
    padding: 0px 7%;
    text-align: center;
}
.mar-top-bot-L-01{
    margin: 10vh 0px;
}
.flex-btw{
    display: flex;
    justify-content: space-between;
}
buynow{
    display: block;
    align-content: center;
    background-color: #009AC2;
    color: #d9d9d9;
    border-radius: 10%;
    height: 50px;
    width: 50px;
    position: relative;
    right: -75.5%;
    bottom: 41.5%;
    font-family: 'MinhaFonte-Bold';
    font-size: 40px;
    filter: blur(5px);
    opacity: 0;
    scale: 0.9;
    transition: 5s forwards;
}


/*--ABOUT US PAGE--*/

/*-FOOTER N HEADER PART OF EVERY PAGES-*/

/* ---HEADER--- */
.freeShipping{
    background-color: #009AC2;
    text-align: center;
    padding: 5px 0px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}
header{
    position: sticky;
    top: var(--header-height);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    background-color: #e83232;
}
.headSec{
    display: inherit;
    align-items: inherit;
}
#headHid{
    position: relative;
    align-content: center;
    width: fit-content;
    margin: 4px .5vw 0px .5vw;
    transition: .1s linear;
}
#headHid:hover{
    font-size: 32.5px;
    color: white;
}
#eye{
        cursor: pointer;
        position: absolute;
        left: 50%;
        align-self: center;
        translate: -50% 0%;
}
#eye:hover{
    #eyePath{
        transition: .2s linear;
        fill:white
    }
}
.activeMenu{
    font-size: 32.5px;
    color: white;
}
#shopCat{
        display: flex;
        padding: 0;
        width: 0;
        transition: .5s linear;
        overflow: hidden;
        justify-content: center;
}

/* ---FOOTER--- */
.footerLeft{
    text-align: start;
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
}
a.serv{
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    color: white;
    opacity: .5;
    transition: .2 linear;
    text-decoration: none;
}
a.serv:hover{
    opacity: 1;
    font-weight: 600;
    transition: .2 linear;
}
p{
    font-size: xx-large;
    letter-spacing: -2px;
    margin: 0;
    cursor: default;
}





/*PRODUCTS PAGE*/
#related{
    grid-template-columns: repeat(3, 1fr);
    padding: 2% 10%;
    column-gap: 10%;
    margin-top: 3%;
}
.prodPage{
    display: flex;
}
.prodPageHal{
    width: 50%;
    display: flex;
    padding: 2.5% 0;
    flex-direction: column;
    align-items: center;
}
.prodDesc{
    width: 50%;
    margin: 2.5% 0%;
}
.imgPageCont{
    width: 80%;
    border-radius: 60px;
    overflow: hidden;
}
.galeryImgs{
    display: flex;
    transition: .5s;
    transform: translateX(calc(var(--img-row)*-1%));
}
.itemPageImg{
    width: 100%;
    object-fit: cover;
}
.galeryNavBar{
    width: 65%;
    height: fit-content;
    margin: 20px;
}
.galeryNavBar .NavImg{
    height: 50px;
    opacity: .5;
    border: #00000000 1px solid;
    transition: .2s linear;
}
.galeryNavBar .NavImg:hover{
    opacity: 1;
    border: #000 1px;
    border-style: solid;
}
.description-pad-sections{
    width: 70%;
    margin-top: 5%;
    text-align: start;
}
.description-pad-sections p{
    color: #D9D9D9;
}
.description-pad-sections button{
    cursor: pointer;
    padding: 10px 25px;
    font-family: 'MinhaFonte';
    font-size: x-large;
    font-weight: 600;
    color: #D9D9D9;
    border: #D9D9D9 1px solid;
    background-color: #00000000;
    transition: .1s linear;
}
.description-pad-sections button:hover{
    background-color: #D9D9D9;
    color: #009AC2;
}
#qnt{
    display: flex;
    width: 80px;
    height: 100%;
    background-color: #D9D9D9;
    color: #009AC2;
    justify-content: center;
    align-items: center;
}
.description-pad-sections button.addCart{
    cursor: pointer;
    padding: 10px 0px;
    width: 100%;
    font-family: 'MinhaFonte';
    font-size: x-large;
    font-weight: 600;
    color: #D9D9D9;
    border: #D9D9D9 1px solid;
    background-color: #00000000;
    transition: .1s linear;
}
.description-pad-sections button.addCart:hover{
    background-color: #D9D9D9;
    color: #009AC2;
}
.desc{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    color: #d9d9d9;
    border-top: #d9d9d9 2px solid;
}
.descP{
    display: flex;
    width: 70%;
    cursor: default;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
    color: #d9d9d9;
    transition: .5s linear;
    overflow: hidden;
    height: 0px;
}
.descP table tbody tr td:nth-child(2){
    text-align: center;
}
.descP table tbody tr td:nth-child(3){
    text-align: center;
}
.descP table tbody tr td:nth-child(4){
    text-align: center;
}
.descP table tbody tr td:nth-child(5){
    text-align: center;
}
.descP table tbody{
    color: #d9d9d980;
    font-size: 20px;
}
.descP table thead{
    color: #d9d9d9;
    font-size: 20px;
}
.descP table thead tr td:nth-child(2){
    text-align: center;
}
.descP table thead tr td:nth-child(3){
    text-align: center;
}
.descP table thead tr td:nth-child(4){
    text-align: center;
}
.descP table thead tr td:nth-child(5){
    text-align: center;
}



/*CATEGORY'S PAGE*/
.prodGrid{
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(var(--num-col-grid), 1fr);
    margin: 0 2.5%;
    justify-items: center;
    padding: calc(var(--gap-pad) * 1px);
    column-gap: calc(var(--gap-pad) * 1px);
}
.const{
    height: 30vh;
    margin: 1% 0%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.heightObserver{
    display: flex;
    position: sticky;
    height: 50px;
    top: 90px;
    padding: 10px 2.5%;
    background-color: #e83232;
    justify-content: space-between;
    z-index: 999;
}
.heightCont{
    overflow-y: hidden;
    display: flex;
    border-radius: 20px;
    background-color: #D9D9D9;
    color: #009AC2;
    padding: 0px 20px;
    width: fit-content;
    transition: .5s;
    height: 50px;
    align-items: center;
}
.grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: -webkit-fill-available;
    cursor: pointer;
    margin: 0px 7px;
    opacity: .5;
    transition: .1s;
}
.grid:hover{
    opacity: 1;
    transition: .1s;
}
p.prodName{
    height: var(--price);
    overflow: hidden;
    color: #D9D9D9;
    font-weight: 900;
    margin-top: -40px;
}
p.prodPrice{
    height: var(--price);
    margin-top: var(--gap-text);
    overflow: hidden;
    color: #D9D9D9;
    font-weight: 300;
}
.catBuy{
    right: var(--catBuy-right);
    bottom: var(--catBuy-bottom);
    align-self: flex-end;
}
.prod{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
.prodImg{
    object-fit: cover;
    border-radius: 60px;
    transition: .2s;
    width: 100%;
}
.prod .backImg{
    width: var(--backImg-width);
}
.prod:hover{
    .prodPrice,
    .prodName{
        color: white;
    }
    buynow{
        animation: fade-in .1s forwards;
    }
}


/* ---HERO--- */
.homeHero{
    display: flex;
    background-image: url(imgs/Banner.png);
    background-size: cover;
    height: 94vh;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
#logo{
    position: relative;
    transform: scale(1);
}


/*FEATURED AND CATEGORIES PART OF LANDINDG PAGE*/
.carouselFeat{
    display: flex;
    justify-content: space-between;
}
.carouselFeat .rowFeat{
    cursor: pointer;
    display: block;
    width: 15vw;
}
.rowFeat p{
    cursor: pointer;
    color: #D9D9D9;
    transition: .1s;
}
.rowFeat p:hover,
.rowFeat:hover{
    color: white;
    buynow {
        animation: fade-in .2s forwards;
    }
}
.rowImg{
    cursor: pointer;
    border-radius: 10%;
    object-fit: cover;
    width: 100%;
    height: 20vw;
    margin-bottom: 10px;
}
.backImg {
    position: absolute;
    width: 15vw;
    opacity: 0;
    transition: .1s linear;
}
.backImg:hover{
    opacity: 1;
}
.yrihmRoll{
    width: 70vw;
    align-self: center;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        black 10% 90%,
        transparent
    );
}
p2.feat{
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: rolar 10s linear infinite;
}
.cat{
    width: fit-content;
    border-radius: 60px;
    scale: 1;
    transition: 0.1s linear;
}
.cat:hover{
    transform: scale(1.05);
    transition: 0.1s linear;
}
#catImg{
    max-height: 40vh;
    cursor: pointer;
    filter: blur(5px);
    opacity: 0;
    scale: 0.9;
    animation: fade-in forwards;
    animation-timeline: view(80% auto);
}
@keyframes rolar {
    from {
      transform: translateX(155%);
    }
    to {
      transform: translateX(-155%);
    }
  }
@keyframes fade-in {
    from{
        filter: blur(5px);
        opacity: 0;
        scale: 0.9;
    }
    to {
        scale: 1;
        opacity: 1;
        filter: blur(0px)
    }
}

/*AUTENTICITY PART OF LANDINDG PAGE*/
#autAnim{
    width: 48px;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
    rotate: 135deg;
    display: flex;
    scale: 1.5;
    transition: .2s linear;
    animation: autRoll forwards;
    animation-timeline: view(75% auto);
}
#autAnim.hovered{
    width: 220px;
    transition: .2s linear;
}
#know{
    color: #e83232;
    font-weight: 900;
    position: relative;
    z-index: 1;
    opacity: 0;
    width: 0px;
    transition: .2s linear;
}
#know.hovered{
    width: 220px;
    transition: .2s linear;
    animation: autHover .5s forwards;
    animation-delay: .2s;
}
@keyframes autHover{
    to {
        opacity: 1;
        scale: 1.1;
    }
}
#plus{
    margin: 0 -2px;
}
@keyframes autRoll{
    to {
        rotate: 0deg;
        scale: 1;
    }
}

/*BLIND-BUY PART OF LANDINDG PAGE*/
.hovered{
    transition: d 0.5s;
    d: path("M436 443C206 443 17 303 17 293 17 283 206 143 436 143 666 143 855 283 855 293 855 303 666 443 436 443ZM436 143V17M706 203C706 203 805 202 805 128M166 203C166 203 67 202 67 128");
}
.blindCont{
    background-color: #009AC2;
    border-radius: 60px;
}
#send.click{
    opacity: 0;

}
.inputs{
    border: none;
    width: 20vw;
    height: 3vh;
    border-radius: 60px;
}
.submit{
    scale: 1;
    opacity: 0.5;
    transition: .05s linear;
}
.submit:hover{
    scale: 1.05;
    opacity: 0.8;
    transition: .05s linear;
}





